build
build(1)/.ninja_deps
build(1)/.ninja_log 2
build(1)/.ninja_log 3
build(1)/bs2_default.elf.map
build(1)/cmake_install.cmake
build(1)/CMakeCache.txt
build(1)/compile_commands 2.json
build(1)/compile_commands 3.json
build(1)/compile_commands.json
build(1)/pico_flash_region.ld
build(1)/TLC59116lib 2.bin
build(1)/TLC59116lib 2.elf
build(1)/TLC59116lib 2(1).elf
build(1)/TLC59116lib 3.bin
build(1)/TLC59116lib 3.elf
build(1)/TLC59116lib 4.bin
build(1)/TLC59116lib 4.elf
build(1)/TLC59116lib 5.bin
build(1)/TLC59116lib 5.elf
build(1)/TLC59116lib 6.bin
build(1)/TLC59116lib 6.elf
build(1)/TLC59116lib 7.bin
build(1)/TLC59116lib 7.elf
build(1)/TLC59116lib 8.bin
build(1)/TLC59116lib 8.elf
build(1)/TLC59116lib 9.bin
build(1)/TLC59116lib 9.elf
build(1)/TLC59116lib 10.bin
build(1)/TLC59116lib 10.elf
build(1)/TLC59116lib 11.bin
build(1)/TLC59116lib 11.elf
build(1)/TLC59116lib 12.bin
build(1)/TLC59116lib 12.elf
build(1)/TLC59116lib 13.bin
build(1)/TLC59116lib 13.elf
build(1)/TLC59116lib 14.elf
build(1)/TLC59116lib 15.bin
build(1)/TLC59116lib 15.elf
build(1)/TLC59116lib 16.bin
build(1)/TLC59116lib 17.elf
build(1)/TLC59116lib 18.elf
build(1)/TLC59116lib 19.elf
build(1)/TLC59116lib 21.elf
build(1)/TLC59116lib 23.elf
build(1)/TLC59116lib 24.elf
build(1)/TLC59116lib.bin
build(1)/TLC59116lib.dis
build(1)/TLC59116lib.elf
build(1)/TLC59116lib.elf.map
build(1)/TLC59116lib.uf2
build(1)/CMakeFiles/cmake.check_cache
build(1)/CMakeFiles/CMakeConfigureLog.yaml
build(1)/CMakeFiles/rules.ninja
build(1)/CMakeFiles/TargetDirectories.txt
build(1)/CMakeFiles/3.28.6/CMakeASMCompiler.cmake
build(1)/CMakeFiles/3.28.6/CMakeCCompiler.cmake
build(1)/CMakeFiles/3.28.6/CMakeCXXCompiler.cmake
build(1)/CMakeFiles/3.28.6/CMakeDetermineCompilerABI_C.bin
build(1)/CMakeFiles/3.28.6/CMakeDetermineCompilerABI_CXX.bin
build(1)/CMakeFiles/3.28.6/CMakeSystem.cmake
build(1)/CMakeFiles/3.28.6/CompilerIdC/CMakeCCompilerId.c
build(1)/CMakeFiles/3.28.6/CompilerIdC/CMakeCCompilerId.o
build(1)/CMakeFiles/3.28.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
build(1)/CMakeFiles/3.28.6/CompilerIdCXX/CMakeCXXCompilerId.o
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp 2.obj
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp 3.obj
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp 4.obj
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp 5.obj
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp 6.obj
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp 7.obj
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp 8.obj
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp 9.obj
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp 10.obj
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp 11.obj
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp 12.obj
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp 13.obj
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp 15.obj
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp 16.obj
build(1)/CMakeFiles/TLC59116lib.dir/main.cpp.obj
build(1)/CMakeFiles/TLC59116lib.dir/TLC59116.cpp.obj
build(1)/CMakeFiles/TLC59116lib.dir/TLC59116lib.cpp.obj
build(1)/generated/pico_base/pico/config_autogen.h
build(1)/generated/pico_base/pico/version.h
build(1)/pico-sdk/cmake_install.cmake
build(1)/pico-sdk/docs/cmake_install.cmake
build(1)/pico-sdk/src/cmake_install.cmake
build(1)/pico-sdk/src/common/boot_picobin_headers/cmake_install.cmake
build(1)/pico-sdk/src/common/boot_picoboot_headers/cmake_install.cmake
build(1)/pico-sdk/src/common/boot_uf2_headers/cmake_install.cmake
build(1)/pico-sdk/src/common/hardware_claim/cmake_install.cmake
build(1)/pico-sdk/src/common/pico_base_headers/cmake_install.cmake
build(1)/pico-sdk/src/common/pico_binary_info/cmake_install.cmake
build(1)/pico-sdk/src/common/pico_bit_ops_headers/cmake_install.cmake
build(1)/pico-sdk/src/common/pico_divider_headers/cmake_install.cmake
build(1)/pico-sdk/src/common/pico_stdlib_headers/cmake_install.cmake
build(1)/pico-sdk/src/common/pico_sync/cmake_install.cmake
build(1)/pico-sdk/src/common/pico_time/cmake_install.cmake
build(1)/pico-sdk/src/common/pico_usb_reset_interface_headers/cmake_install.cmake
build(1)/pico-sdk/src/common/pico_util/cmake_install.cmake
build(1)/pico-sdk/src/extra_doxygen/dreq.h
build(1)/pico-sdk/src/extra_doxygen/intctrl.h
build(1)/pico-sdk/src/rp2040/boot_stage2/bs2_default_padded_checksummed.S
build(1)/pico-sdk/src/rp2040/boot_stage2/bs2_default.bin
build(1)/pico-sdk/src/rp2040/boot_stage2/bs2_default.dis
build(1)/pico-sdk/src/rp2040/boot_stage2/bs2_default.elf
build(1)/pico-sdk/src/rp2040/boot_stage2/cmake_install.cmake
build(1)/pico-sdk/src/rp2040/boot_stage2/CMakeFiles/bs2_default.dir/compile_time_choice.S.obj
build(1)/pico-sdk/src/rp2040/hardware_regs/cmake_install.cmake
build(1)/pico-sdk/src/rp2040/hardware_structs/cmake_install.cmake
build(1)/pico-sdk/src/rp2040/pico_platform/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/cmsis/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_adc/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_base/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_boot_lock/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_clocks/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_divider/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_dma/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_exception/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_flash/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_gpio/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_i2c/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_interp/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_irq/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_pio/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_pll/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_pwm/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_resets/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_rtc/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_spi/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_sync/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_sync_spin_lock/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_ticks/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_timer/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_uart/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_vreg/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_watchdog/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/hardware_xosc/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_aon_timer/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_async_context/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_atomic/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_bit_ops/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_bootrom/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_bootsel_via_double_reset/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_btstack/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_clib_interface/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_crt0/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_cxx_options/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_cyw43_arch/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_cyw43_driver/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_cyw43_driver/cybt_shared_bus/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_divider/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_double/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_fix/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_fix/rp2040_usb_device_enumeration/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_flash/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_float/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_i2c_slave/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_int64_ops/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_lwip/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_lwip/tools/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_malloc/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_mbedtls/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_mem_ops/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_multicore/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_platform_compiler/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_platform_panic/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_platform_sections/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_printf/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_rand/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_runtime/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_runtime_init/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_standard_binary_info/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_standard_link/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_stdio/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_stdio_rtt/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_stdio_semihosting/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_stdio_uart/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_stdio_usb/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_stdlib/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_time_adapter/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/pico_unique_id/cmake_install.cmake
build(1)/pico-sdk/src/rp2_common/tinyusb/cmake_install.cmake
build(1)/pico-sdk/tools/cmake_install.cmake
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/common/hardware_claim/claim.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/common/pico_sync/critical_section.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/common/pico_sync/lock_core.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/common/pico_sync/mutex.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/common/pico_sync/sem.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/common/pico_time/time.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/common/pico_time/timeout_helper.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/common/pico_util/datetime.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/common/pico_util/pheap.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/common/pico_util/queue.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2040/pico_platform/platform.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_boot_lock/boot_lock.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_clocks/clocks.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_divider/divider.S.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_gpio/gpio.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_i2c/i2c.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_irq/irq_handler_chain.S.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_irq/irq.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_pll/pll.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_sync/sync.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_sync_spin_lock/sync_spin_lock.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_ticks/ticks.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_timer/timer.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_uart/uart.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_vreg/vreg.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_watchdog/watchdog.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/hardware_xosc/xosc.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_atomic/atomic.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_bit_ops/bit_ops_aeabi.S.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_bootrom/bootrom_lock.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_bootrom/bootrom.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_clib_interface/newlib_interface.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_crt0/crt0.S.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_cxx_options/new_delete.cpp.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_divider/divider_hardware.S.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_double/double_aeabi_rp2040.S.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_double/double_init_rom_rp2040.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_double/double_math.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_double/double_v1_rom_shim_rp2040.S.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_float/float_aeabi_rp2040.S.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_float/float_init_rom_rp2040.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_float/float_math.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_float/float_v1_rom_shim_rp2040.S.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_int64_ops/pico_int64_ops_aeabi.S.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_malloc/malloc.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_mem_ops/mem_ops_aeabi.S.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_platform_panic/panic.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_printf/printf.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_runtime/runtime.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_runtime_init/runtime_init_clocks.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_runtime_init/runtime_init_stack_guard.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_runtime_init/runtime_init.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_standard_binary_info/standard_binary_info.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_stdio/stdio.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_stdio_uart/stdio_uart.c.obj
build(1)/CMakeFiles/TLC59116lib.dir/C_/Users/amogl/.pico-sdk/sdk/2.0.0/src/rp2_common/pico_stdlib/stdlib.c.obj
